body {
	font-family: Verdana;
}
h2 {
    	text-shadow: 1px 1px 1px #adadad;
    	text-transform: none;
    	text-decoration: none;
    	font-size: 10px;
    	font-family: Verdana;
    	text-decoration: none;

    }  
    